packrat/lib*/
tmp/
common_variants_*/
misc/

**/logs/*.e*
**/logs/*.o*
**/log/*.e*
**/log/*.o*
*.log
*.done
*.lock
*.queued
*.term

**/tmp/
**/spark-warehouse/
*.swp

**/pypy-*/

*.bgz
*.xz
*.tbi
*.bigWig
*.stats
*.recal
*.recal.idx
*.rds
*.rda
*.gds
*.bed
*.bim
*.fam
*.tab
*.tsv
*.dba
*.db
*.dosages

*.vds/
.*.crc

GATK3_fastq2gvcf-hs37d5x-1.0_split-combine_genotype_vqsr_hail_paper-analysis/soma-loh/*/old/*.png
GATK3_fastq2gvcf-hs37d5x-1.0_split-combine_genotype_vqsr_hail_paper-analysis/soma-loh/*/old/*.pdf
GATK3_fastq2gvcf-hs37d5x-1.0_split-combine_genotype_vqsr_hail_paper-analysis/soma-loh/*/old/*.tsv

